LogicStart_MegaWing_Verification.zip
Papilio_One_Verification.rar
Papilio_One_Verification.zip
Papilio_DUO_Verification/bin/Digilent_ZYBO EEPROM Dump.txt
Papilio_DUO_Verification/bin/digilent_zybo_eeprom.xml
Papilio_DUO_Verification/bin/Papilio DUO EEPROM Dump.txt